@page "/settings"
@using PhasmoStatsBlazor.Services

@inject IJSRuntime JS

<h1 class="header-text center-flex">
	Settings
</h1>
<hr />

<div class="text-section">
	<div>
		<div class="section-header" style="margin-left: 10%">Brightness</div>
		<div class="slidecontainer">
			<div class="grid-split" style=" margin-left: 5%; margin-right: 5%; align-items: center; grid-template-columns: 10% auto 10%;">
				<div style="text-align: right">Dark</div>
				<input type="range" min="-1" max="101" class="slider" @bind="Brightness" @bind:event="oninput">
				<div style="text-align: left">Bright</div>
			</div>
			<div style="text-align: center">@GetBrightnessText()</div>
		</div>
	</div>
	<br />
	<div>
		<div class="section-header" style="margin-left: 10%">Background Transparency (Text)</div>
		<div class="slidecontainer">
			<div class="grid-split" style=" margin-left: 5%; margin-right: 5%; align-items: center; grid-template-columns: 10% auto 10%;">
				<div style="text-align: right">Transparent</div>
				<input type="range" min="0" max="100" class="slider" @bind="Alpha" @bind:event="oninput">
				<div style="text-align: left">Solid</div>
			</div>
			<div style="text-align: center">@($"{Alpha}%" + (Alpha == 20 ? " (Default)" : ""))</div>
		</div>
	</div>
	<hr />
	<div>
		<div class="section-header" style="margin-left: 10%">Item Tiers</div>
		<div class="grid-split" style="grid-template-columns: 1fr 1fr 1fr 1fr">
			<div class="items-settings">
				<img src="@ItemTierService.EmfPath" />
				<br />
				<button class="button-item-tiers-text button-emf-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.EMF, ItemTierService.Tiers.Tier1))">T1</button>
				<button class="button-item-tiers-text button-emf-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.EMF, ItemTierService.Tiers.Tier2))">T2</button>
				<button class="button-item-tiers-text button-emf-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.EMF, ItemTierService.Tiers.Tier3))">T3</button>
			</div>
			<div class="items-settings">
				<img src="@ItemTierService.VideoPath" />
				<br />
				<button class="button-item-tiers-text button-orb-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Video, ItemTierService.Tiers.Tier1))">T1</button>
				<button class="button-item-tiers-text button-orb-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Video, ItemTierService.Tiers.Tier2))">T2</button>
				<button class="button-item-tiers-text button-orb-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Video, ItemTierService.Tiers.Tier3))">T3</button>
			</div>
			<div class="items-settings">
				<img src="@ItemTierService.BoxPath" />
				<br />
				<button class="button-item-tiers-text button-box-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Box, ItemTierService.Tiers.Tier1))">T1</button>
				<button class="button-item-tiers-text button-box-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Box, ItemTierService.Tiers.Tier2))">T2</button>
				<button class="button-item-tiers-text button-box-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Box, ItemTierService.Tiers.Tier3))">T3</button>
			</div>
			<div class="items-settings">
				<img src="@ItemTierService.ThermoPath" />
				<br />
				<button class="button-item-tiers-text button-freezing-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Thermometer, ItemTierService.Tiers.Tier1))">T1</button>
				<button class="button-item-tiers-text button-freezing-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Thermometer, ItemTierService.Tiers.Tier2))">T2</button>
				<button class="button-item-tiers-text button-freezing-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Thermometer, ItemTierService.Tiers.Tier3))">T3</button>
			</div>
			<div class="items-settings">
				<img src="@ItemTierService.UvPath" />
				<br />
				<button class="button-item-tiers-text button-uv-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.UV, ItemTierService.Tiers.Tier1))">T1</button>
				<button class="button-item-tiers-text button-uv-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.UV, ItemTierService.Tiers.Tier2))">T2</button>
				<button class="button-item-tiers-text button-uv-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.UV, ItemTierService.Tiers.Tier3))">T3</button>
			</div>
			<div class="items-settings">
				<img src="@ItemTierService.BookPath" />
				<br />
				<button class="button-item-tiers-text button-book-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Book, ItemTierService.Tiers.Tier1))">T1</button>
				<button class="button-item-tiers-text button-book-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Book, ItemTierService.Tiers.Tier2))">T2</button>
				<button class="button-item-tiers-text button-book-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.Book, ItemTierService.Tiers.Tier3))">T3</button>
			</div>
			<div class="items-settings">
				<img src="@ItemTierService.DotsPath" />
				<br />
				<button class="button-item-tiers-text button-dots-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.DOTS, ItemTierService.Tiers.Tier1))">T1</button>
				<button class="button-item-tiers-text button-dots-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.DOTS, ItemTierService.Tiers.Tier2))">T2</button>
				<button class="button-item-tiers-text button-dots-tiers" @onclick="@(() => ChangeItemTier(ItemTierService.Items.DOTS, ItemTierService.Tiers.Tier3))">T3</button>
			</div>
		</div>
	</div>
</div>

@code
{
	private static int _alpha = 20;
	public int Alpha
	{
		get => _alpha;
		set
		{
			if (_alpha == value)
				return;
			_alpha = value;
			_ = UpdateAlpha();
		}
	}

	private static int _brightness = 20;
	public int Brightness
	{
		get => _brightness;
		set
		{
			if (_brightness == value)
				return;
			_brightness = value;
			_ = UpdateGradient();
		}
	}

	private async Task UpdateGradient()
	{
		await JS.InvokeVoidAsync("updateGradient", _brightness);
	}

	private async Task UpdateAlpha()
	{
		await JS.InvokeVoidAsync("updateAlpha", _alpha);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await UpdateGradient();
			await UpdateAlpha();
		}
	}

	private void ChangeItemTier(ItemTierService.Items item, ItemTierService.Tiers tier)
	{
		ItemTierService.ChangeItemTier(item, tier);
	}

	private string GetBrightnessText()
	{
		if (Brightness == -1)
			return "Blackout";
		else if (Brightness == 101)
			return "Flashbang";
		return $"{Brightness}%" + (Brightness == 20 ? " (Default)" : "");
	}
}