@page "/settings"

<h1 class="header-text center-flex">
	Settings
</h1>
<hr />

<div class="text-section">
	<div>
		<div class="section-header" style="margin-left: 10%">Brightness</div>
		<div class="slidecontainer">
			<div style="display: flex; margin-left: 5%; margin-right: 5%; align-items: center">
				Dark
				<input type="range" min="-1" max="101" class="slider" @bind="Brightness" @bind:event="oninput">
				Light
			</div>
			<div style="text-align: center">
				@(Brightness == -1 ? "Blackout" : Brightness == 101 ? "Flashbang" : $"{Brightness}%")
			</div>
		</div>
	</div>
	<hr />
	<div>
		<div class="section-header" style="margin-left: 10%">Item Tiers</div>
		<div class="grid-split" style="grid-template-columns: 1fr 1fr 1fr 1fr">
			<div class="items-settings">
				<img src="@_emfPath"/>
				<br />
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.EMF, Tiers.Tier1))">T1</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.EMF, Tiers.Tier2))">T2</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.EMF, Tiers.Tier3))">T3</button>
			</div>
			<div class="items-settings">
				<img src="@_videoPath" />
				<br />
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Video, Tiers.Tier1))">T1</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Video, Tiers.Tier2))">T2</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Video, Tiers.Tier3))">T3</button>
			</div>
			<div class="items-settings">
				<img src="@_boxPath" />
				<br />
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Box, Tiers.Tier1))">T1</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Box, Tiers.Tier2))">T2</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Box, Tiers.Tier3))">T3</button>
			</div>
			<div class="items-settings">
				<img src="@_thermoPath" />
				<br />
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Thermometer, Tiers.Tier1))">T1</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Thermometer, Tiers.Tier2))">T2</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Thermometer, Tiers.Tier3))">T3</button>
			</div>
				<div class="items-settings">
				<img src="@_uvPath"/>
				<br />
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.UV, Tiers.Tier1))">T1</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.UV, Tiers.Tier2))">T2</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.UV, Tiers.Tier3))">T3</button>
			</div>
				<div class="items-settings">
				<img src="@_bookPath"/>
				<br />
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Book, Tiers.Tier1))">T1</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Book, Tiers.Tier2))">T2</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.Book, Tiers.Tier3))">T3</button>
			</div>
			<div class="items-settings">
				<img src="@_dotsPath" />
				<br />
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.DOTS, Tiers.Tier1))">T1</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.DOTS, Tiers.Tier2))">T2</button>
				<button class="button-item-tiers" @onclick="@(() => ChangeItemTier(Items.DOTS, Tiers.Tier3))">T3</button>
			</div>
		</div>
	</div>
</div>

@inject IJSRuntime JS
@code
{
	private enum Items
	{
		EMF,
		Video,
		Box,
		Thermometer,
		UV,
		Book,
		DOTS,
	}

	private enum Tiers
	{
		Tier1,
		Tier2,
		Tier3,
	}

	private string _emfPath = "Images/Items/Tier1/emf.webp";
	private string _videoPath = "Images/Items/Tier1/video.webp";
	private string _boxPath = "Images/Items/Tier1/box.webp";
	private string _thermoPath = "Images/Items/Tier1/thermometer.webp";
	private string _uvPath = "Images/Items/Tier1/uv.webp";
	private string _bookPath = "Images/Items/Tier1/book.webp";
	private string _dotsPath = "Images/Items/Tier1/dots.webp";
	private static int _brightness = 20;

	public int Brightness
	{
		get => _brightness;
		set
		{
			if (_brightness == value) 
				return;
			_brightness = value;
			_ = UpdateBackground();
		}
	}

	private async Task UpdateBackground()
	{
		await JS.InvokeVoidAsync("updateGradient", _brightness);
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await UpdateBackground();
		}
	}

	private void ChangeItemTier(Items item, Tiers tier)
	{
		string path = "Images/Items/";
		path += tier switch
		{
			Tiers.Tier1 => "Tier1/",
			Tiers.Tier2 => "Tier2/",
			Tiers.Tier3 => "Tier3/",
		};

		switch (item)
		{
			case Items.Book: path += "book.webp"; _bookPath = path; break;
			case Items.Box: path += "box.webp"; _boxPath = path; break;
			case Items.DOTS: path += "dots.webp"; _dotsPath = path; break;
			case Items.EMF: path += "emf.webp"; _emfPath = path; break;
			case Items.Thermometer: path += "thermometer.webp"; _thermoPath = path; break;
			case Items.UV: path += "uv.webp"; _uvPath = path; break;
			case Items.Video: path += "video.webp"; _videoPath = path; break;
		}
	}
}