@page "/stats/cursed-objects"
@using Logic

<h1 class="header-text stats-header">Cursed Objects</h1>
<table class="stats-table">
    <thead>
        <tr>
            <th @onclick='() => SortByCursedObjects(HEADER_CURSED_OBJECT)'>@SortIndicator.GetHeaderName(HEADER_CURSED_OBJECT, _sortColumnCursedObjects, _ascendingCursedObjects)</th>
            <th @onclick='() => SortByCursedObjects(HEADER_USES)'>@SortIndicator.GetHeaderName(HEADER_USES, _sortColumnCursedObjects, _ascendingCursedObjects)</th>
            <th @onclick='() => SortByCursedObjects(HEADER_USES_PERCENTAGE)'>@SortIndicator.GetHeaderName(HEADER_USES_PERCENTAGE, _sortColumnCursedObjects, _ascendingCursedObjects)</th>
        </tr>
    </thead>
    <tbody>
        <tr style="font-weight: bold">
            <td>Total</td>
            <td>@_cursedObjects.Values.Sum(g => g.uses)</td>
            <td>100%</td>
        </tr>
        @foreach (var kv in _cursedObjects)
        {
            <tr>
                <td>@kv.Key</td>
                <td>@kv.Value.uses</td>
                <td>@kv.Value.percentage.ToString("P2")</td>
            </tr>
        }
    </tbody>
</table>

<h1 class="header-text stats-header" style="margin-top: -0.6em">Tarot Cards</h1>
<table class="stats-table">
    <thead>
        <tr>
            <th @onclick='() => SortByTarots(HEADER_CARD)'>@SortIndicator.GetHeaderName(HEADER_CARD, _sortColumnTarots, _ascendingTarots)</th>
            <th @onclick='() => SortByTarots(HEADER_DRAWS)'>@SortIndicator.GetHeaderName(HEADER_DRAWS, _sortColumnTarots, _ascendingTarots)</th>
            <th @onclick='() => SortByTarots(HEADER_DRAWS_PERCENTAGE)'>@SortIndicator.GetHeaderName(HEADER_DRAWS_PERCENTAGE, _sortColumnTarots, _ascendingTarots)</th>
        </tr>
    </thead>
    <tbody>
        <tr style="font-weight: bold">
            <td>Total</td>
            <td>@_tarots.Values.Sum(g => g.draws)</td>
            <td>100%</td>
        </tr>
        @foreach (var kv in _tarots)
        {
            <tr>
                <td>@kv.Key</td>
                <td>@kv.Value.draws</td>
                <td>@kv.Value.percentage.ToString("P2")</td>
            </tr>
        }
    </tbody>
</table>

@code 
{
    // Cursed Objects
    private const string HEADER_CURSED_OBJECT = "Cursed Object";
    private const string HEADER_USES = "Uses";
    private const string HEADER_USES_PERCENTAGE = "Percentage";

    // Tarot Cards
    private const string HEADER_CARD = "Card";
    private const string HEADER_DRAWS = "Draws";
    private const string HEADER_DRAWS_PERCENTAGE = "Percentage";


    private Dictionary<string, (int uses, double percentage)> _cursedObjects = [];
    private Dictionary<string, (int draws, double percentage)> _tarots = [];
    private string _sortColumnCursedObjects = HEADER_USES_PERCENTAGE;
    private bool _ascendingCursedObjects = false;
    private string _sortColumnTarots = HEADER_DRAWS_PERCENTAGE;
    private bool _ascendingTarots = false;

    protected override void OnInitialized()
    {
        DataRefresher.OnDataUpdated += Refresh;
    }

    private void Refresh()
    {
        _ = InvokeAsync(() =>
        {
            _cursedObjects = DataGetter.GetCursedObjects(FileDeserializer.Data);
            Sort(_sortColumnCursedObjects, _ascendingCursedObjects, ref _cursedObjects);
            _tarots = DataGetter.GetTarots(FileDeserializer.Data);
            Sort(_sortColumnTarots, _ascendingTarots, ref _tarots);
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        DataRefresher.OnDataUpdated -= Refresh;
    }

    protected override async Task OnInitializedAsync()
    {
        _cursedObjects = DataGetter.GetCursedObjects(FileDeserializer.Data);
        _tarots = DataGetter.GetTarots(FileDeserializer.Data);
        Sort(_sortColumnCursedObjects, _ascendingCursedObjects, ref _cursedObjects);
        Sort(_sortColumnTarots, _ascendingTarots, ref _tarots);
    }

    private void SortByCursedObjects(string column)
    {
        if (_sortColumnCursedObjects == column)
        {
            _ascendingCursedObjects = !_ascendingCursedObjects;
        }
        else
        {
            _sortColumnCursedObjects = column;
            _ascendingCursedObjects = true;
        }

        Sort(_sortColumnCursedObjects, _ascendingCursedObjects, ref _cursedObjects);
    }

    private void SortByTarots(string column)
    {
        if (_sortColumnTarots == column)
        {
            _ascendingTarots = !_ascendingTarots;
        }
        else
        {
            _sortColumnTarots = column;
            _ascendingTarots = true;
        }

        Sort(_sortColumnTarots, _ascendingTarots, ref _tarots);
    }

    private void Sort(string column, bool ascending, ref Dictionary<string, (int, double)> data)
    {
        data = column switch
        {
            HEADER_CURSED_OBJECT or HEADER_CARD => ascending
                ? data.OrderBy(x => x.Key).ToDictionary(k => k.Key, v => v.Value)
                : data.OrderByDescending(x => x.Key).ToDictionary(k => k.Key, v => v.Value),
            _ => ascending
                ? data.OrderBy(x => x.Value.Item1).ToDictionary(k => k.Key, v => v.Value)
                : data.OrderByDescending(x => x.Value.Item1).ToDictionary(k => k.Key, v => v.Value),
        };
    }
}
