@page "/stats/ghosts"
@using Logic

<h1 class="header-text stats-header">Ghosts</h1>

<table class="stats-table">
    <thead>
        <tr>
            <th @onclick='() => SortBy(HEADER_GHOST)'>@SortIndicator.GetHeaderName(HEADER_GHOST, _sortColumn, _ascending)</th>
            <th @onclick='() => SortBy(HEADER_SIGHTINGS)'>@SortIndicator.GetHeaderName(HEADER_SIGHTINGS, _sortColumn, _ascending)</th>
            <th @onclick='() => SortBy(HEADER_PERCENTAGE)'>@SortIndicator.GetHeaderName(HEADER_PERCENTAGE, _sortColumn, _ascending)</th>
            <th @onclick='() => SortBy(HEADER_DEATHS)'>@SortIndicator.GetHeaderName(HEADER_DEATHS, _sortColumn, _ascending)</th>
            <th @onclick='() => SortBy(HEADER_RATIO)'>@SortIndicator.GetHeaderName(HEADER_RATIO, _sortColumn, _ascending)</th>
        </tr>
    </thead>
    <tbody>
        <tr style="font-weight: bold">
            <td>Total</td>
            <td>@{ int seen = _ghosts.Values.Sum(g => g.seen); } @seen</td>
            <td>100%</td>
            <td>
                @{
                    int died = _ghosts.Values.Sum(g => g.died);
                    double ratio = seen > 0 && died > 0 ? (double)died / seen : 0;
                }
                @died
            </td>
            <td>@ratio.ToString("P2")</td>
        </tr>
        @foreach (var kv in _ghosts)
        {
            <tr>
                <td>@kv.Key</td>
                <td>@kv.Value.seen</td>
                <td>@kv.Value.percentage.ToString("P2")</td>
                <td>@kv.Value.died</td>
                <td>@kv.Value.ratio.ToString("P2")</td>
            </tr>
        }
    </tbody>
</table>

@code 
{
    private const string HEADER_GHOST = "Ghost";
    private const string HEADER_SIGHTINGS = "Sightings";
    private const string HEADER_PERCENTAGE = "Percentage";
    private const string HEADER_DEATHS = "Deaths";
    private const string HEADER_RATIO = "S/D Ratio";

    private Dictionary<string, (int seen, int died, double ratio, double percentage)> _ghosts = [];
    private string _sortColumn = HEADER_RATIO;
    private bool _ascending = false;

    protected override void OnInitialized()
    {
        DataRefresher.OnDataUpdated += Refresh;
    }

    private void Refresh()
    {
        _ = InvokeAsync(() =>
        {
            _ghosts = DataGetter.GetGhosts(FileDeserializer.Data);
            SortGhosts();
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        DataRefresher.OnDataUpdated -= Refresh;
    }

    protected override async Task OnInitializedAsync()
    {
        _ghosts = DataGetter.GetGhosts(FileDeserializer.Data);
        SortGhosts();
        await InvokeAsync(StateHasChanged);
    }

    private void SortBy(string column)
    {
        if (_sortColumn == column)
        {
            _ascending = !_ascending;
        }
        else
        {
            _sortColumn = column;
            _ascending = true;
        }

        SortGhosts();
    }

    private void SortGhosts()
    {
        _ghosts = _sortColumn switch
        {
            HEADER_GHOST => _ascending
                ? _ghosts.OrderBy(x => x.Key).ToDictionary(k => k.Key, v => v.Value)
                : _ghosts.OrderByDescending(x => x.Key).ToDictionary(k => k.Key, v => v.Value),
            HEADER_SIGHTINGS or HEADER_PERCENTAGE => _ascending
                ? _ghosts.OrderBy(x => x.Value.seen).ToDictionary(k => k.Key, v => v.Value)
                : _ghosts.OrderByDescending(x => x.Value.seen).ToDictionary(k => k.Key, v => v.Value),
            HEADER_DEATHS => _ascending
                ? _ghosts.OrderBy(x => x.Value.died).ToDictionary(k => k.Key, v => v.Value)
                : _ghosts.OrderByDescending(x => x.Value.died).ToDictionary(k => k.Key, v => v.Value),
            _ => _ascending
                ? _ghosts.OrderBy(x => x.Value.ratio).ToDictionary(k => k.Key, v => v.Value)
                : _ghosts.OrderByDescending(x => x.Value.ratio).ToDictionary(k => k.Key, v => v.Value),
        };
    }
}
