@page "/stats/maps"
@using Logic
@using PhasmoStatsBlazor.Services

<h1 class="header-text stats-header">Maps</h1>

<table class="stats-table">
    <thead>
        <tr>
            <th @onclick='() => SortBy(HEADER_NAME)'>@SortIndicator.GetHeaderName(HEADER_NAME, _sortColumn, _ascending)</th>
            <th @onclick='() => SortBy(HEADER_VISITS)'>@SortIndicator.GetHeaderName(HEADER_VISITS, _sortColumn, _ascending)</th>
            <th title="Visits as a percentage of your total visits" @onclick='() => SortBy(HEADER_PERCENTAGE)'>@SortIndicator.GetHeaderName(HEADER_PERCENTAGE, _sortColumn, _ascending)</th>
        </tr>
    </thead>
    <tbody>
        <tr style="font-weight: bold">
            <td>Total</td>
            <td>@_maps.Values.Sum(g => g.visits)</td>
            <td>100%</td>
        </tr>
        @foreach (var kv in _maps)
        {
            <tr>
                <td>@kv.Key</td>
                <td>@kv.Value.visits</td>
                <td>@kv.Value.percentage.ToString("P2")</td>
            </tr>
        }
    </tbody>
</table>

@code 
{
    private const string HEADER_NAME = "Map";
    private const string HEADER_VISITS = "Visits";
    private const string HEADER_PERCENTAGE = "Percentage";

    private Dictionary<string, (int visits, double percentage)> _maps = new();
    private string _sortColumn = HEADER_PERCENTAGE;
    private bool _ascending = false;

    protected override void OnInitialized()
    {
        DataRefresher.OnDataUpdated += Refresh;
    }

    private void Refresh()
    {
        _ = InvokeAsync(() =>
        {
            _maps = DataGetter.GetMaps(FileDeserializer.Data);
            Sort();
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        DataRefresher.OnDataUpdated -= Refresh;
    }

    protected override async Task OnInitializedAsync()
    {
        _maps = DataGetter.GetMaps(FileDeserializer.Data);
        Sort();
        await InvokeAsync(StateHasChanged);
    }

    private void SortBy(string column)
    {
        if (_sortColumn == column)
            _ascending = !_ascending;
        else
        {
            _sortColumn = column;
            _ascending = true;
        }

        Sort();
        _ = InvokeAsync(StateHasChanged);
    }

    private void Sort()
    {
        _maps = _sortColumn switch
        {
            HEADER_NAME => _ascending
                ? _maps.OrderBy(x => x.Key).ToDictionary(k => k.Key, v => v.Value)
                : _maps.OrderByDescending(x => x.Key).ToDictionary(k => k.Key, v => v.Value),
            _ => _ascending
                ? _maps.OrderBy(x => x.Value.visits).ToDictionary(k => k.Key, v => v.Value)
                : _maps.OrderByDescending(x => x.Value.visits).ToDictionary(k => k.Key, v => v.Value),
        };
    }
}
